html,body{
	position: relative;
	background: #000;
	margin: 0;
	padding: 0;
	min-width:800px;
	max-width: 1920px;
}


.demo1{
	position: relative;
	width: 300px;
	height: 300px;
}


.demo2{
	position: relative;
	width: 100px;
	height: 300px;
}

.demo3{
	position: relative;
	width: 250px;
	height: 1000px;
}

#vid{
	// display: none;
}

.canvas-wrap{
	// min-height: 930px;
	width: 1280px;
	height: 930px;
	z-index: 1110;
	position: relative;
}

.canvas-wrap2{
	// min-height: 930px;
	width: 640px;
	height: 430px;
	position: absolute;
	top: 500px;
	left: 0;
	z-index: 110;
}

#canvas{
  position: absolute;
  left: 0;
  top:0;
  display: none;
  z-index: 1;
  &.show{
    display: block;
  }
}

audio{
  display: none;
}

.playBtn{
	background: red;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
}

.pauseBtn{
	background: green;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 100px;
	z-index: 10000;
}

.stopBtn{
	background: yellow;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 200px;
	z-index: 10000;
}

.downBtn{
	background: pink;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 300px;
}

// .stopBtn{
// 	background: orange;
// 	width: 50px;
// 	height: 50px;
// 	position: absolute;
// 	top: 0;
// 	left: 400px;
// }